
// 表头样式
.table-row-head
    height 80px
    line-height 84px
    text-align center
    color #666 !important
    font-size 16Px !important
    border-bottom 1Px solid #e4e4e4
    margin-top 20px
.table-row
    height 70px
    line-height 74px
    text-align center
    color #333 !important
    font-size 14Px !important
    font-weight normal !important
    border-bottom 1Px solid #e4e4e4